<div class="deskripsi__footer mb-0 mt-5 text-white p-3">
  <div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 justify-content-sm-center align-items-sm-center row-cols-md-3">

      <div class="col brand__name">
        <h1 class="fw-bold">MP<span>!</span></h1>
      </div>

      <div class="col navigasi">
        <ul class="ps-0 mt-2">
          <h2 class="title__footer">Navigasi</h2>
          <li><a href="">Beranda</a></li>
          <li><a href="">Masuk</a></li>
          <li><a href="">Daftar</a></li>
        </ul>
      </div>

      <div class="col pengembang">
        <ul class="ps-0 mt-2">
          <h2 class="title__footer">Pengembang</h2>
          <li><a href="#">Ferdinand Jery Wilkinson Sitorus</a></li>
          <li><a href="#">Irsan Efendi Rangkuti</a></li>
          <li><a href="https://github.com/kautsarabid?tab=repositories">Kautsar Abid Muttaqin</a></li>
          <li><a href="#">Alfian Rachmad Dianto</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="copyright__footer p-2 text-center text-white fw-bold ">
  <p>Copyright 2023: Dicoding Team C23-R4114</p>
</div>