@media screen and (max-width: 576px) {

  .halaman__utama {
    padding-top: 20em;
  }

  .halaman__utama .deskripsi__section {
    z-index: 99;
  }

  .halaman__utama img {
    width: 300px !important;
    height: 496px !important;
    z-index: 2;
  }

  /* 
      FORM SECTION 
    */

  .form__masuk {
    width: 100% !important;
  }
}

@media screen and (max-width: 1199.98px) {

  .halaman__utama {
    padding-top: 20em;
  }

  .halaman__utama .deskripsi__section {
    z-index: 99;
    position: relative;
  }

  .halaman__utama img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 500px;
    height: 696px;
  }

  /* 
    FORM SECTION 
  */

  .form__masuk {
    width: 75%;
    padding: 3em;
  }
}

@media screen and (min-width: 1200px) {

  .halaman__utama {
    padding-top: 6.78em;
  }

  /* 
      FORM SECTION 
    */

  .form__masuk {
    width: 75%;
    padding: 3em;
  }
}